body {
    font-family: 'Krona One', sans-serif;    
    color: rgb(50, 50, 51);
}

.welcome-class {
    width: auto;
    height: 100vh;
    background-image: linear-gradient( 115deg, rgba(184, 245, 187, 0.8), 
    rgba(5, 94, 5, 0.7) ), 
    url("./imagenes/motherboard.png");    
}

.project-class {
    background-color: rgb(28, 27, 44);
    color: #007bff;
}

.contact-section a {
    color: rgb(50, 50, 51);
}
.footer-class {
    border-top: rgb(2, 29, 2) 5px solid;
  }

  @media (max-width: 575.98px) {
    main section div div h1 span .contact-info {
        font-size: 1.5rem;
    }
    .profile-contac-title {
        font-size: 2.5rem;
    }
  }

  @media (min-width: 576px) and (max-width: 767.98px) {

  }
